<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yükleme Bilgileri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Okunan Satır: {{ line }}</li>
                    <li>Kaydedilen Mail Sayısı: {{ saved }}</li>
                    <li>Hatalı Satır Sayısı: {{ err }}</li>
                    {{#each lineNumber}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $('#exampleModalLong').modal('show');
    });
    $("#exampleModalLong").on('hide.bs.modal', function(){
        window.location.href = "/monitoring";
    });
</script>