<div class="container">
    <div class="row">
        <div class="col-sm mt-5">
            <form class="form-signin" method="post" action="/sender">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Gönderici Ayarları</h1>
                </div>
                <div class="form-label-group">
                    <input type="text" id="inputHost" value="{{ host }}" name="host" class="form-control" placeholder="Host Adresi" required
                           autofocus>
                    <label for="inputHost">Host Adresi</label>
                </div>

                <div class="form-label-group">
                    <input type="number" id="inputPort" value="{{ port }}" name="port" class="form-control" placeholder="Port Numarası" required
                           autofocus>
                    <label for="inputPort">Port Numarası</label>
                </div>

                <div class="form-label-group">
                    <input type="email" id="inputEmail" value="{{ mail }}" name="email" class="form-control" placeholder="Email Adresi" required
                           autofocus>
                    <label for="inputEmail">Email Adresi</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="inputPassword" name="password" class="form-control" placeholder="Email Şifresi" required>
                    <label for="inputPassword">Email Şifresi</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Kaydet</button>
            </form>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gönderici Bilgilendirme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if failed}}
                    <ul>
                        {{#each errResponse}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
                {{#if saved}}
                    <h2>Başarıyla Kaydedildi</h2>
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        if (($('.modal-body').has('ul').length + $('.modal-body').has('h2').length) !== 0)
            $('#exampleModalLong').modal('show');
    });
    $("#exampleModalLong").on('hide.bs.modal', function(){
        if ($('.modal-body').has('h2').length > 0)
            window.location.href = "/receiver";

    });
</script>
